$primary-color: #eb6d82;
$dark-color: #fff;
$light-color: #000;

@import "./normalize.scss";
@import "node_modules/spectre.css/src/spectre";
@import "node_modules/spectre.css/src/spectre-exp";
@import "node_modules/spectre.css/src/spectre-icons";

div{
    box-sizing: border-box;
    background-repeat: no-repeat;
}

.container{
    width: 330px;
    margin: auto;
    min-height: 100%;
}

.btn, .form-input{
    border-radius: 7px;
    border-width: 1.5px;
    padding: 8px;
    height: auto;
    font-weight: 600;
}